/node_modules
/public/hot
/public/storage
/storage/*.key
/docker-compose/nginx/*
!/docker-compose/nginx/sunday.conf
!/docker-compose/redis/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
credentials.json
credentials-publisher.json
