@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
--accent-color: crimson;
--primary-color: #1fa1d0;
--text-color: #333;
--dark-side-background: #1a0032;
--dark-side-color: #dfdfdf;
}

html {
min-height: 100%;
background: #f8f8f8 !important;
}

body {
overflow-x: hidden;
position: relative;
}

.checkbox-done {
    -webkit-appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    background: transparent;
    display: block;
    margin: 0 2px;
    border-radius: 3px;
    border: 2px solid #666;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all ease 0.3s;
    display: inline-block;
    &:focus {
      outline: 0;
    }

    &:before {
        content: "\2718";
        color: transparent;
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 11px;
    }

    &:checked, &:hover {
        background: #655;

        &:before {
            content: "\2718";
            color: #fff;
            left: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 11px;
        }

        &+[for*=""] {
            text-decoration: line-through;
        }
    }

  &:hover {
      background: rgba(102, 85, 85, 0.527);;
  }
}


[for^="check"] {
  display: inline-block;
  width: 80%;
  font-size: 18px;
  z-index: 200;
  cursor: text;
  color: #777;
  font-size: 20px;
}

.task-item:last-child {
    border-bottom: none !important;
}
